/* Hide component until page is ready */
.body .product-detail-page {
    display: none;
}

.body.appear .product-detail-page {
    display: flex;
    flex-direction: column;
}

.product-detail-page .gallery {
    width: 100%;
    aspect-ratio: 1 / 1.25;
}

.product-detail-page .gallery img {
    object-fit: contain;
    object-position: top;
}

.product-detail-page .details {
    flex: 1;
}

.product-detail-page .details h1 {
    margin: 0;
}

@media (min-width: 1024px) {
    .product-detail-page {
        flex-direction: row;
    }

    .product-detail-page .gallery {
        width: 350px;
        padding-right: 15px;
        height: 500px;
    }

    .product-detail-page .details {
        padding-left: 15px;
    }
}